<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cotafarm"
        tools:targetApi="31">
        <activity
            android:name=".telaListagem.AdapterFornDetalhes"
            android:exported="false" />
        <activity
            android:name=".telaListagem.AdapterListaRemedio"
            android:exported="false" />
        <activity
            android:name=".ListagemRemedio"
            android:exported="false" />
        <activity
            android:name=".cadastroRemedio.CadastroRemedio"
            android:exported="false" />
        <activity
            android:name=".ListagemFornecedor"
            android:exported="false" />
        <activity
            android:name=".cadastroFornecedores.formFornecedores"
            android:exported="false" />
        <activity
            android:name=".telaPrincipal.telaPrincipal"
            android:exported="false" />
        <activity
            android:name=".cadastroForm.form_cadastro"
            android:exported="false" />
        <activity
            android:name=".formLogin.FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>